* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0b0b0b;
  color: #eaeaea;
}

/* TOPO */
.top-bar {
  text-align: center;
  padding: 15px;
  background: #000;
  border-bottom: 1px solid #222;
}

.top-bar h1 {
  margin: 0;
  letter-spacing: 4px;
}

/* LAYOUT */
.layout {
  flex: 1;
  display: flex;
}
